export(rpsg_create_subroutine)
export(rpsg_exporttotext)
export(rpsg_getfunctionincrement)
export(rpsg_getfunctionsensetivity)
export(rpsg_getfunctionvalue)
export(rpsg_getsolution)
export(rpsg_getsolution_one_problem)
export(rpsg_importfromtext)
export(rpsg_riskconstrprog)
export(rpsg_riskprog)
export(rpsg_riskratioprog)
export(rpsg_solver)
export(rpsg_verify)
export(rpsg_convert_ps_params)
export(rpsg_restore_ps)
export(check.functions.ratioprog)
importFrom("methods", "is")
import("Matrix")
useDynLib(PSGExpress)

